{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do</title>
    <!-- <link rel="stylesheet" href="styles/index.css"> -->
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">
    <!-- <link rel="stylesheet" href="styles/checkbox.css"> -->
    <link rel="stylesheet" href="{% static 'styles/checkbox.css'%}">

</head>
<body>
  <section>

     <div class="create_container">
       <input
       class="create_input" 
       type="text"
       placeholder="Напишите сюда новую задачу">
       <button class="create_button">Добавить</button>
     </div> 

     <div class="todo_container">
      <div class="todo_item">
        <div class="todo_item_header">
          <label class="checkbox_container">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <h4>Написать проект</h4>
        </div>

        <div class="todo_item_footer">
          <p>28.10.2021 <span>10:27</span></p>
          <div class="action_buttons">
            <img src="{% static './icons/star_favorite_5754.png' %}">
            <img src="{% static './icons/1485477104-basket_78591.png' %}">
          </div>
        </div>
        </div>

      <div class="todo_item marked">
        <div class="todo_item_header">
          <label class="checkbox_container">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <h4>Написать проект</h4>
        </div> 
        <div class="todo_item_footer">
          <p>28.10.2021 <span>10:27</span></p>
          <div class="action_buttons">
            <img src= "icons/star_favorite_5754.png" >
            <img src= "icons/1485477104-basket_78591.png">
          </div></div>
      </div>
      <div class="todo_item done">
        <div class="todo_item_header">
          <label class="checkbox_container">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <h4>Написать проект</h4>
        </div> 
        <div class="todo_item_footer">
          <p>28.10.2021 <span>10:27</span></p>
          <div class="action_buttons">
            <img src= "icons/star_favorite_5754.png" >
            <img src= "icons/1485477104-basket_78591.png}" >
          </div></div> 
      </div>
      <div class="todo_item marked">
        <div class="todo_item_header">
          <label class="checkbox_container">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <h4>Написать проект</h4>
        </div> 
        <div class="todo_item_footer">
          <p>28.10.2021 <span>10:27</span></p>
          <div class="action_buttons">
            <img src="icons/star_favorite_5754.png" alt="">
            <img src="icons/1485477104-basket_78591.png" alt="">
          </div></div>
      </div>
      
      <div class="todo_item">
        <div class="todo_item_header">
          <label class="checkbox_container">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <h4>Написать проект</h4>
        </div>

        <div class="todo_item_footer">
          <p>28.10.2021 <span>10:27</span></p>
          <div class="action_buttons">
            <img src="icons/star_favorite_5754.png" alt="">
            <img src="icons/1485477104-basket_78591.png" alt="">
          </div>
        </div> 
      </div>
      <div class="todo_item done">
        <div class="todo_item_header">
          <label class="checkbox_container">
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>
          <h4>Написать проект</h4>
        </div> 
        <div class="todo_item_footer">
          <p>28.10.2021 <span>10:27</span></p>
          <div class="action_buttons">
            <img src="icons/star_favorite_5754.png" alt="">
            <img src="icons/1485477104-basket_78591.png" alt="">
          </div></div>  
      </div>
     </div>
  </section>  
</body>
</html>