<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meeting</title>
</head>
<body>
    <h3>Домашнее задание № 32</h3>
    <p>Отобразите данные из предыдущего домашнего задания (упражнение
        2, урок 31) новом html-файле с именем meeting.html</p>

        {% for tomeet in tomeet_list %}
        {{ tomeet.person}}
        {% endfor %}
</body>
</html>